{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    
    <title> 
        {{title}} 
    </title>
</head>
<body>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">ax² + bx + c</h1>

            <form method="post" id="formulaire">
                {% csrf_token %}
                <div class="form-group">
                    <label for="a">Entrer a :</label>
                    <input type="number" step=any class="form-control" value={{a}} name="a" />
                </div>
                <div class="form-group">
                    <label for="b">Entrer b :</label>
                    <input type="number" step=any class="form-control" value={{b}} name="b" />
                </div>
                <div class="form-group">
                    <label for="c">Entrer c :</label>
                    <input type="number" step=any class="form-control" value={{c}} name="c" />
                </div>
                <div class="form-group">
                    <label for="x">Entrer x :</label>
                    <input type="number" step=any class="form-control" value={{x}} name="x" />
                </div>
                <div>
                    <label for="t">Résultat :</label>
                    <p>{{t}}</p>
                </div>
                <div class="text-center bouton">
                    <button type="submit" class="btn btn-primary" id="submitButton">Valider</button>
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>